<!--LOADING REFERENCES-->
{% extends 'store/base2.html' %}
{% load static %}
<!--END LOADING-->

{% block content %}
<br>
<br>
<br>
<br>

    <div class="container">

    <div class="row">

        <div class="col-lg-12">

            <div class="box-element">
                <a class="btn btn-outline-info" style="border-radius: 50px 15px;" href="{% url 'shop' %}">&#x2190; Continue Shopping</a>
				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5 style="font-family: Verdana; font-size: medium;">Items: <strong>{{ order.get_cart_items }}</strong></h5></th>
						<th><h5 style="font-family: Verdana; font-size: medium;">Total:<strong> Tk. {{ order.get_cart_total|floatformat:2 }}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-info" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>
            </div>
            <br>
            
        <br>    
        <!-- Shopping Cart-->
        <div class="box-element table-responsive shopping-cart" >
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">Product Name</th>
                  <th class="text-center">Unit Price</th>
                  <th class="text-center">Quantity</th>
                  
                  <th class="text-center">Subtotal</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for item in items %}  
                <tr>
                  <td>
                    <div class="product-item"><a class="product-thumb" href="#"><img src="{{ item.product.imageURL }}" alt="Product"></a>
                      <div class="product-info">
                        <h4 class="product-title"><a href="#">{{ item.product.name }}</a></h4>
                        <!-- <span><em>Unit Price:</em> {{ item.product.price }} </span> -->
                        <!-- <span><em>Size:</em> 10.5</span><span><em>Color:</em> Dark Blue</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="text-center text-lg text-medium">Tk. {{ item.product.price }}</td>
                  <!-- <td class="text-center text-lg text-medium">
                    <p class="quantity">{{ item.quantity }}</p>
                  </td> -->
                  <td>
                   
                    <div class="w-100  d-flex align-items-center justify-content-between">
                        <a data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart m-0" ><span class="badge badge-light "><i class="far fa-plus text-info"></i></span></a>
                        <p class="ml-2 my-0">{{ item.quantity }}</p>
                        <a data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart m-0"> <span class="badge badge-light "> <i class="far fa-minus text-danger"></i></span></a>
                      </div>
                  </td>
                  
                  <td class="text-center text-lg text-medium">Tk. {{ item.get_total }}</td>
                  
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
          

        </div>

    </div>

</div>

    <br>
    <br>
    <br>

{% endblock %}