{% load static %}

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <!-- About Us-->
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">আমাদের সম্পর্কে</h3>
            <ul>
              <!--
              <li><a href="#">Careers</a></li>
              <li><a href="#">About Eyecon</a></li>
              <li><a href="#">Our Story</a></li>
              <li><a href="#">Services</a></li>
              -->
              <p class="text-justify text-white">সেফফুড অন্যতম শীর্ষস্থানীয় অনলাইন ভিত্তিক হোম ডেলিভারি পরিষেবা যেখানে আমাদের ফোকাস আপনাকে সময় সাশ্রয় করা যাতে আপনি সেই সময়টি আপনার কাজের জন্য ব্যবহার করতে পারেন। গ্রাহক সন্তুষ্টি, সততা আমাদের প্রধান লক্ষ্য।</p>
            </ul>
          </section>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Contact Info-->
          <section class="widget widget-light-skin">
            <h3 class="widget-title">যোগাযোগ করুন</h3>
            
            <ul class="list-unstyled text-sm text-white">
              <li>
                <span class="text-white">৯১, কাজী নজরুল ইসলাম এভেনিউ (৩য় তলা)</span>
                <br>
                <span class="text-white">তেজগাঁও, ঢাকা - ১২১৫, বাংলাদেশ</span>  
                <br>
                <br>
                <span class="text-white"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; info@safefood.com </span>
                <br>
                <span class="text-white"><i class="fa fa-phone" ></i>&nbsp; +৮৮০ ২ ৫৫০১২৪৫০ </span>   
                <br>           
                <span class="text-white">&nbsp; &nbsp; +৮৮০ ১৮৪৪ ৬০৯ ৯৫৩ </span>
                <br>
                <span class="text-white">&nbsp; &nbsp; +৮৮০ ১৮৪৪ ৬০৯ ৯৫৪ </span>
              </li>
            </ul>
            
            <a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a>
          </section>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Mobile App Buttons-->
          <section class="widget widget-light-skin">
            <h3 class="widget-title">আমাদের মোবাইল অ্যাপ্লিকেশন</h3><a class="market-button apple-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a><a class="market-button google-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a>
          </section>
        </div>
        
      <!--
      <hr class="hr-light mt-2 margin-bottom-2x">
		  <div class="row">
            <div class="col-md-12 padding-bottom-1x">
              
              <div class="margin-bottom-1x"><img src="{% static 'img/payment-method.png' %}" alt="Payment Methods">
              </div>
            </div>
          </div>
      -->
      <!-- Copyright-->
      <hr class="hr-light mt-2 margin-bottom-2x">
      <p class="footer-copyright">কপিরাইট &copy; {% now 'Y' %} <strong>সেফ ফুড</strong>. নির্মাণে &nbsp;<i class="icon-heart text-danger"></i><a href="https://gnetltd.com/"> &nbsp;জেনারেশান নেট লিমিটেড</a></p>
    </div>
  </footer>


<!--
<footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            Copyright &copy; {% now 'Y' %} <strong>SafeFood</strong>. All Rights Reserved.
          </div>
          <div class="credits">
            
            Developed by: <a href="https://gnetltd.com/">
              
              Generation Net Limited</a>
          </div>
        </div>
  
      </div>
    </div>
  </footer>
-->