{% load static %}

<footer id="footer" style="background-color: #283747 ;">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            <p class="footer-copyright">Copyright &copy; {% now 'Y' %} <strong>SafeFood</strong>. Made with &nbsp;<i class="icon-heart text-danger"></i><a  href="https://generationnetltd.com/" target= "_blank"> &nbsp;by Generation Net Ltd.</a></p>
          </div>
        </div>
  
      </div>
    </div>
  </footer>
