{% extends 'store/base2.html' %}

{% load static %}

{% block content %}

    <div class="pb-5 container">
        <h1 class="pt-5 text-center">RETURN & REFUND POLICY</h1>
        <p class="text-bold h5">Last updated January 11, 2022</p>
        
        <h3 class="pt-5">RETURNS</h3>
        <p>All returns must be postmarked within seven (7) days of the purchase date. All returned items must be in new and unused condition, with all original tags and labels attached.</p>
        <h3>RETURN PROCESS</h3>
        <p>Safe Food</p>
        <p>Attn: Returns</p>
        <p>RMA #</p>
        <p>3rd Floor, 91 Kazi Nazrul Islam Ave, Dhaka 1215  </p>
        <p>Dhaka, Dhaka 1215 1215  </p>
        <p>Bangladesh </p>
        <p>Return shipping charges will be paid or reimbursed by us. </p>
        <h3>REFUNDS</h3>
        <p>After receiving your return and inspecting the condition of your item, we will process your return. Please allow at least seven (7) days from the receipt of your item to process your return. Refunds may take 1-2 billing cycles to appear on your credit card statement, depending on your credit card company. We will notify you by email when your return has been processed.</p>
        <h3>EXCEPTIONS</h3>
        <p>For defective or damaged products, please contact us at the contact details below to arrange a refund or exchange. </p>
        <p class="text-bold h5">Please Note</p>
        <ul>
            <li>Sale items are FINAL SALE and cannot be returned.</li>
            
            

        </ul>
        <h3>QUESTIONS</h3>
        <p>If you have any questions concerning our return policy, please contact us at: 
            info@safefoodsbd.com 
        </p>
    </div>


{% endblock %}